// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// custom style
.counters{
    margin-right: 30px;
    font-size: 10px;
    text-align:center;

    strong{
        font-size: 2em;
        display: block;
    }

    .vote, .answer{
        width:60px;
        height:60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .status{
        &.answered{
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answer-accepted{
            background: $color-green;
            color: $color-white;
        }

        &.unanswered{
            border: none;
        }
    }

    .view{
        margin-top: 10px;
    }
}

form.form-style{
    display:inline;
}
